[submodule "backend"]
	path = backend
	url = https://github.com/vayen-xin/rd-fund-guardian-springboot.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/vayen-xin/rd-fund-guardian-vue.git
